body {
    background: #f2f4f6 url("#{resource['img/bg.jpg']}") 0 20px;
}

#header {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    font: normal 12pt Monospace;
    background-color: #dedede;
    padding-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

#header img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

#content {
    background: #f2f4f6;
    width: 960px;
    margin: 0 auto 0;
    text-align: center;
    min-height: 600px;
    overflow: hidden;
}
#time {
    padding: 10px;
}

#description {
    font: normal 500 12pt Arial;
    width: 60%;
    margin: 0 auto;
}

#description h1 {
    font: italic normal bold 22pt Arial;
    margin-top: 0;
}

.program {
    width: 80%;
    margin: 20px auto 0;
    overflow: hidden;
}

#leftSide {
    float:left;
}


.form {
    float: right;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 50%;
}
.form table{
    width: 100%;
}

.form th {
    text-align: right;
}
.form td {
    text-align: left;
}

.button {
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin: 2px;
    border: solid 1px #004F72;
    border-radius: 4px;
    color: #E5FFFF;
    background-color: #3BA4C7;
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #ffffff;
}

#resultss {
    width: 100%;
    margin: 20px;
    padding: 5px;
}

.button:hover {
    background: #3B50C7;
}

#refresh {
    display: none;
}

#clear {
    text-decoration: none;
    text-align: center;
    padding: 11px 32px;
    border: solid 1px #004F72;
    border-radius: 4px;
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E5FFFF;
    background-color: #3BA4C7;
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #ffffff;
    display: none;
}

.result {
    overflow: hidden;
    display: none;
}

.program img {
    width: 100%;
    height: auto;
}

#form-content {
    margin: auto;
}

#chooseX h1 {
    margin: 0 0 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

label.error {
    color: red;
    font-style: italic;
    margin-left: 5px;
}

input.error {
    border: 1px dotted red;
    margin-bottom: 5px;
}

@media screen and (max-width: 999px) {
    #about {
        width: 748px;
    }

    #content {
        width: 748px;
    }

    .form {
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    #about {
        width: 460px;
    }

    #content {
        width: 460px;
    }

    .form {
        float: none;
        width: 100%;
        margin-top: 20px;
    }

    #dataimage {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    #about {
        width: 300px;
    }

    #content {
        width: 300px;
    }

    .form {
        float: none;
        width: 100%;
        margin-top: 20px;
    }

    #dataimage {
        float: none;
        width: 100%;
    }
}
/*.result {
    display: block;
}

#clear {
    display: block;
}*/
table {
    /*     border: 2px solid black; */
    width: 95%;
    border-collapse: collapse;
}
